<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Grouphone</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Alegreya+Sans:300,700" />
    <link rel="stylesheet" href="/css/pure.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/grouphone-utils.js" defer></script>
  </head>

  <body>

    <nav id="appNav">
    <% if (user && user.token) { %>
      <h1><a href="/app">Grouphone</a></h1>
      <a href="/logout" class="pure-button">Logout</a>
    <% } else { %>
      <h1 class="centeredText"><a href="/">Grouphone</a></h1>
    <% } %>
    </nav>

    <section id="content">
