var config = {
    ACCEPT_INVITATION: false,
    APP_IP : "0.0.0.0",
    APP_PORT: "8080",
    HOSTNAME: "grouphone.applait.com",
    MONGO_URL: "mongodb://localhost:27017/grouphone"
};

module.exports = config;
