<%- include("includes/head") %>
      <button
        id="createCall" data-goto="/call"
        class="pure-button pure-button-primary">
        Create<br/>Call
      </button>
      <p>[ Headphones Recommended ]</p>
      <a
        class="pure-button pure-button-primary"
        href="mailto:feedback@applait.com">
        feedback@applait.com
      </a>

<%- include("includes/foot") %>
