<%- include("includes/head") %>
      <button
        id="createCall" data-goto="/call"
        class="pure-button pure-button-primary">
        Create<br/>Call
      </button>
      <p>[ Headphones Recommended ]</p>
      <a
        class="pure-button pure-button-primary"
        href="mailto:feedback+app@grouphone.me">
        feedback+app@grouphone.me
      </a>

      <script>
        window.addEventListener("DOMContentLoaded", function (e) {
          $("#createCall").addEventListener("click", function (event) {
            location.assign("/call");
          }, false);
        }, false);
      </script

<%- include("includes/foot") %>
