<%- include("includes/head") %>

<div class="content groups">
  <paper-item>
    <core-icon icon="social:group"></core-icon>
    Respect
  </paper-item>
  <paper-item>
    <core-icon icon="social:group"></core-icon>
    Power
  </paper-item>
  <paper-item>
    <core-icon icon="social:group"></core-icon>
    Banana
  </paper-item>
</div>

<paper-fab icon="image:loupe" id="trigger"></paper-fab>

<%- include("includes/foot") %>
