<%- include("includes/head") %>
      <button
        id="createCall" data-goto="/call"
        class="pure-button pure-button-primary">
        Create<br/>Call
      </button>
      <p>[ Headphones Recommended ]</p>
      <button id="feedback" class="pure-button pure-button-primary">Got Feedback?</button>

      <script>
        window.addEventListener("DOMContentLoaded", function (e) {
          $("#createCall").addEventListener("click", function (event) {
            location.assign("/call");
          }, false);

          $("#feedback").addEventListener("click", function (event) {
            window.scrollback = { streams: ["grouphone"], host: "https://scrollback.io" };
            var script = document.createElement("script");
            script.async=1; script.src="https://scrollback.io/client.min.js";
            $("head").appendChild(script);
            $("#content").removeChild($("#feedback"));
            $(".appbar-title").innerHTML = "Show/Hide";
          }, false);
        }, false);
      </script>

<%- include("includes/foot") %>
