<%- include("includes/head") %>
      <div id="callContent">
        <div id="callInfo">
          In call, with Jack
          <br>
          and 3 guests
        </div>

        <form id="callLink" class="pure-form">
          <p>Share URL to invite other to join this call</p>
          <input type="text" value="http://grouphone.me/join/rightnow" class="pure-input-rounded" readonly>
          <p>[ Headphones Recommended ]</p>
        </form>

        <div id="callActions">
          <button id="mute" class="pure-button">
            <svg><use xlink:href="#icon-mute"></use></svg>
          </button>
          <button id="endCall" class="pure-button pure-button-primary">End</button>
          <button id="share" class="pure-button">
            <svg><use xlink:href="#icon-share"></use></svg>
          </button>
        </div>
      </div>

      <svg display="none" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <symbol id="icon-share" viewBox="0 0 1024 1024">
          <title>icon-share</title>
          <path class="path1" d="M1008 6.286q18.857 13.714 15.429 36.571l-146.286 877.714q-2.857 16.571-18.286 25.714-8 4.571-17.714 4.571-6.286 0-13.714-2.857l-258.857-105.714-138.286 168.571q-10.286 13.143-28 13.143-7.429 0-12.571-2.286-10.857-4-17.429-13.429t-6.571-20.857v-199.429l493.714-605.143-610.857 528.571-225.714-92.571q-21.143-8-22.857-31.429-1.143-22.857 18.286-33.714l950.857-548.571q8.571-5.143 18.286-5.143 11.429 0 20.571 6.286z"></path>
        </symbol>
        <symbol id="icon-mute" viewBox="0 0 805 1024">
          <title>icon-mute</title>
          <path class="path1" d="M154.857 540l-57.714 57.714q-24-58.857-24-122.286v-73.143q0-14.857 10.857-25.714t25.714-10.857 25.714 10.857 10.857 25.714v73.143q0 30.286 8.571 64.571zM791.429 196l-206.286 206.286v73.143q0 75.429-53.714 129.143t-129.143 53.714q-31.429 0-62.286-10.857l-54.857 54.857q55.429 29.143 117.143 29.143 105.714 0 180.857-75.143t75.143-180.857v-73.143q0-14.857 10.857-25.714t25.714-10.857 25.714 10.857 10.857 25.714v73.143q0 126.286-84.286 219.714t-208.286 107.143v75.429h146.286q14.857 0 25.714 10.857t10.857 25.714-10.857 25.714-25.714 10.857h-365.714q-14.857 0-25.714-10.857t-10.857-25.714 10.857-25.714 25.714-10.857h146.286v-75.429q-71.429-7.429-134.286-46.286l-145.143 145.143q-5.714 5.714-13.143 5.714t-13.143-5.714l-46.857-46.857q-5.714-5.714-5.714-13.143t5.714-13.143l705.143-705.143q5.714-5.714 13.143-5.714t13.143 5.714l46.857 46.857q5.714 5.714 5.714 13.143t-5.714 13.143zM574.286 120.571l-354.857 354.857v-292.571q0-75.429 53.714-129.143t129.143-53.714q58.286 0 105.429 33.714t66.571 86.857z"></path>
        </symbol>
        <symbol id="icon-unmute" viewBox="0 0 658 1024">
          <title>icon-unmute</title>
          <path class="path1" d="M658.286 402.286v73.143q0 126.286-84.286 219.714t-208.286 107.143v75.429h146.286q14.857 0 25.714 10.857t10.857 25.714-10.857 25.714-25.714 10.857h-365.714q-14.857 0-25.714-10.857t-10.857-25.714 10.857-25.714 25.714-10.857h146.286v-75.429q-124-13.714-208.286-107.143t-84.286-219.714v-73.143q0-14.857 10.857-25.714t25.714-10.857 25.714 10.857 10.857 25.714v73.143q0 105.714 75.143 180.857t180.857 75.143 180.857-75.143 75.143-180.857v-73.143q0-14.857 10.857-25.714t25.714-10.857 25.714 10.857 10.857 25.714zM512 182.857v292.571q0 75.429-53.714 129.143t-129.143 53.714-129.143-53.714-53.714-129.143v-292.571q0-75.429 53.714-129.143t129.143-53.714 129.143 53.714 53.714 129.143z"></path>
        </symbol>
        </defs>
      </svg>

      <script src="/js/vendor/erizo.js"></script>
      <script src="/js/call.js"></script>

<%- include("includes/foot") %>
