<!doctype html>
<html>
  <head></head>
  <body>
    <script>
     if (navigator.mozSetMessageHandler) {
       navigator.mozSetMessageHandler('activity', function(activityRequest) {
         var option = activityRequest.source;

         if (options.data && options.data.url) {
           location.assign(options.data.url);
         }
       });
     } else {
       location.assign("/app");
     }
    </script>
  </body>
</html>
