<%- include("includes/head") %>

<div class="container">
<img id="logo" src="../img/logo.png">
<h2 class="brand" style="margin-bottom: 1rem;">Forgot password?</h2>
<form method="POST">
  <core-field>
    <core-icon icon="social:person"></core-icon>
    <input name="email" type="email" placeholder="Email" flex>
  </core-field>
  <input type="submit" value="Request" />
</form>
<p>
  Remember password? <a href="/login">Now Login</a>
</p>
</div>

<%- include("includes/foot") %>
