<%- include("includes/head") %>
      <form method="POST">
        <input name="email" type="email" placeholder="Email ID">
        <input name="password" type="password" placeholder="Password">
        <input type="submit" value="Go" />
        <p>
          <a href="/forgot">Forgot Password?</a>.
        </p>
      </form>

<%- include("includes/foot") %>
