<%- include("includes/head") %>
<form class="pure-form">
  <fieldset class="pure-group">
    <input name="email" type="email" placeholder="Email ID" class="pure-input-1-2">
    <input name="password" type="password" placeholder="Password" class="pure-input-1-2">
    <input type="button" value="Login to Grouphone" class="pure-button pure-button-primary pure-input-1-2" />
    <input type="hidden" name="csrf" value="<%= csrfToken %>">
  </fieldset>
  <p id="notice">&nbsp;</p>
  <a id="forgot-button" href="/forgot" class="pure-button">Forgot Password?</a>
</form>

<script>
  window.addEventListener("DOMContentLoaded", function () {

    var csrf = $("input[name='csrf']").value;

    $("input[type='button']").addEventListener("click", function (e) {
      e.preventDefault();

      var email = $("input[name='email']").value,
          password = $("input[name='password']").value;

      var password_base64 = encodeURIComponent(CryptoJS.HmacSHA1(password, email).toString(CryptoJS.enc.Base64));

      if (!email) {
        $("#notice").innerHTML = "Email Please...";
      } else if (!password) {
        $("#notice").innerHTML = "Password Please...";
      } else {
        var payload = [ "email=", email, "&password=", password_base64, "&csrf=", csrf ].join("");
        xhr({ url: "/login", method: "POST", body: payload }, function (status, body, req) {
          if (status == 200) {
            location.assign("/app");
          } else {
            var parsed;
            try {
              parsed = JSON.parse(body);
            } catch (e) {
              parsed = { message: "Error logging in." }
            }
            $("#notice").innerHTML = parsed.message;
          };
        });
      }
    }, false);

    $("#forgot-button").addEventListener("click", function (e) {
      e.preventDefault();
      var emailfield = $("input[name='email']");
      if (!emailfield.value) {
        $("#notice").innerHTML = "Need your email...";
        emailfield.focus();
      } else {
        var payload = [ "email=", emailfield.value, "&csrf=", csrf ].join("");
        xhr({ url: "/forgot", method: "POST", body: payload }, function (status, body, req) {
          if (status == 200) {
            $("#notice").innerHTML = "Got it... Check your mailbox!";
          } else {
            $("#notice").innerHTML = (JSON.parse(body)).message;
          }
        });
      }
    }, false);
  });
</script>

<%- include("includes/foot") %>
