<%- include("includes/head") %>
<h2>Reset password</h2>
      <form method="POST" class="pure-form">
        <fieldset class="pure-group">
          <input name="email" type="email" placeholder="Email ID" value="<%= user.email %>" readonly>
          <input name="password" type="password" placeholder="Password" class="pure-input-1-2">
          <input name="token" type="hidden" value="<%= user.token %>">
          <input type="submit" value="Create new password" class="pure-button pure-button-primary pure-input-1-2" />
        </fieldset>
      </form>

<%- include("includes/foot") %>
