@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  outline: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: "Alegreya Sans", Sans-serif;
}

/* 1. ID & Class */
.centeredText {
  text-align: center;
}
.pure-form fieldset {
  padding: 2rem 1rem 0;
}
.pure-form .pure-group input:nth-child(n) {
  width: 100%;
  margin: 0 auto;
  max-width: 20rem;
}
.pure-form fieldset {
  margin-bottom: 1rem;
}
#invite-button {
  margin-top: 0.5rem;
}
.button-text {
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: 0px none transparent;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.button-text:hover, .button-text:focus {
  color: #FF4e00;
}
#content {
  text-align: center;
}
#appNav {
  padding: 1rem calc(50% - 320px);
  display: flex;
  flex-direction: row;
}
#appNav h1 {
  margin: 0;
  flex-grow: 1;
  color: #ff4e00;
  font-size: 2rem;
  font-weight: 300;
}
#appNav h1 a {
  color: #ff4e00;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
#notice {
  padding: 0 1rem;
  color: #c00;
  transition: all 0.2s ease-in;
}
#notice.green {
  color: #017112;
}
#createCall {
  width: 12rem;
  height: 12rem;
  display: block;
  font-size: 2rem;
  margin: 2rem auto;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, 0 0 0 7px #0078E7;
}
#callContent {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
#callContent > * {
  flex: 1 1 5rem;
}
#callInfo {
  font-size: 1.5rem;
}
#callLink {
  padding: 0 1rem;
}
#callLink input {
  width: 90%;
  margin: auto;
  max-width: 20rem;
  text-align: center;
}
#callInfo, #callActions {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: all 500ms ease-in;
}
#callActions button {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  line-height: 2.5rem;
}
#callActions .pure-button-primary {
  width: 4rem;
  height: 4rem;
  background: #d23f31;
}
#callActions svg {
  width: 1rem;
  height: 1rem;
}
.hide {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

/* 2. Pseudoclass */
#callActions .pure-button-primary:focus {
  background: #d23f31;
}
#callActions .pure-button-primary:hover,
#callActions .pure-button-primary:active {
  background: #b00;
}

/* 3. Media Queries */
@media screen and (max-width: 960px) {
  #appNav { padding: 1rem calc(50% - 240px); }
}
@media screen and (max-width: 640px) {
  #appNav { padding: 1rem; }
}
