@charset "utf-8";

core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
}
core-field {
  border: 1px solid #eee;
  border-radius: 2px;
  width: 16rem;
}
core-field input {
  font-size: 1rem;
}
paper-button {
  width: 16rem;
}
.groups paper-item {
  color: #444;
  border-bottom: solid 1px #eee;
}
.groups core-icon {
  margin-right: 1rem;
}
